:root {
  /* ----------- Константы ----------- */
  font-size: 16px;
}

/* ----------- Цвета ----------- */
$White_100: rgb(255, 255, 255);

$Black_100: rgb(0, 0, 0);
$Black_96: rgba(0, 0, 0, 0.96); // = #010101
$Black_40: rgba(0, 0, 0, 0.4); // = #b1b1b1
$Black_08: rgba(0, 0, 0, 0.08); // = #F2F2F3
$Black_02: rgba(0, 0, 0, 0.02);

$Green_Light_100: rgba(155, 185, 108, 1);
$Green_Light_08: rgba(155, 185, 108, 0.08);
$Green_Dark_100: rgba(103, 126, 81, 1);
$Green_Dark_08: rgba(103, 126, 81, 0.08);

$Red_100: rgba(250, 108, 89, 1);
$Red_80: rgba(250, 108, 89, 0.8);
$Red_40: rgba(250, 108, 89, 0.4);


/* ----------- Паддинги страничные ----------- */
$Large: 3rem;
$Medium: 2rem;
$Small: 1.5rem;
$xSmall: 1rem; 

/* ----------- Привязанные шрифты ----------- */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/Montserrat-SemiBold.woff') format('woff'),
		url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('Montserrat Regular'), local('Montserrat-Regular'),
		url('../fonts/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Belleza';
  src: url('../fonts/Belleza-Regular.eot');
  src: local('Belleza Regular'), local('Belleza-Regular'),
      url('../fonts/Belleza-Regular.woff2') format('woff2'),
      url('../fonts/Belleza-Regular.woff') format('woff'),
      url('../fonts/Belleza-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* ----------- Стили текста ----------- */
// Цифра в названии = размер шрифта в пикселях

// Заголовки страниц, на макете шрифт Belleza */
@mixin page_title {
  /* служебный миксин, его использовать не надо */
  font-family: 'Belleza', sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
}
@mixin page_title_80 {
  @include page_title;
  font-size: 5rem;
  line-height: 5.5rem;
}
@mixin page_title_64 {
  @include page_title;
  font-size: 4rem;
  line-height: 4.5rem;
}
@mixin page_title_48 {
  @include page_title;
  font-size: 3rem;
  line-height: 3.5rem;
}
@mixin page_title_32 {
  @include page_title;
  font-size: 2rem;
  line-height: 2.5rem;
}

// Цены и названия
@mixin title_Montserrat_semi {
  /* служебный миксин, его использовать не надо */
  font-family: 'Montserrat';
  font-weight: 600;
}
@mixin montserrat_semi_24 {
  @include title_Montserrat_semi;
  font-size: 1.5rem;
  line-height: 2rem;
}
@mixin montserrat_semi_16 {
  @include title_Montserrat_semi;
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin montserrat_semi_16_squashed {
  @include title_Montserrat_semi;
  font-size: 1rem;
  line-height: 1.25rem;
}

// Основной текст
@mixin title_Montserrat_regular {
  /* служебный миксин, его использовать не надо */
  font-family: 'Montserrat';
  font-weight: 400;
}
@mixin montserrat_regular_24 {
  @include title_Montserrat_regular;
  font-size: 1.5rem;
  line-height: 2rem;
}
@mixin montserrat_regular_16 {
  @include title_Montserrat_regular;
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin montserrat_regular_16_squashed {
  @include title_Montserrat_regular;
  font-size: 1rem;
  line-height: 1.25rem;
}
@mixin montserrat_regular_12 {
  @include title_Montserrat_regular;
  font-size: 1rem;
  line-height: 1rem;
}
@mixin montserrat_regular_12 {
  @include title_Montserrat_regular;
  font-size: 0.75rem;
  line-height: 1rem;
}

/* ----------- Ограничения ширин, шаблоны для @media ----------- */
// Контейнер-оболочка для контента страницы, только с боковыми паддингами
.page_block_wrapper {
  max-width: 90rem;
  padding: 0 $Large;
  margin: 0 auto;
  @media (max-width: 1280px) {
    padding: 0 $Medium;
}
  @media (max-width: 1024px) {
      padding: 0 $Small;
      margin: 0;
  }
  @media (max-width: 640px) {
      padding: 0 $xSmall;
  }
}


/* ----------- Кнопки ----------- */
// В названии кнопки первый параметр: контент, второй: высота. Служебные миксины
@mixin btn_text_52 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  transition: 0.2s ease-out;
  @include montserrat_semi_16_squashed;
}
@mixin btn_IconOrText_40 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 0.5rem 1.25rem;
  border-radius: 2.5rem;
  transition: 0.2s ease-out;
  @include montserrat_semi_16_squashed;
  svg{
    width: 1.5rem;
    height: 1.5rem;
  }
}
@mixin btn_text_36 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  transition: 0.2s ease-out;
  @include montserrat_regular_16_squashed;
}
@mixin btn_textIcon_36 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 2.25rem;
  padding: 0.125rem 1rem 0.125rem 0.125rem;
  border-radius: 1.5rem;
  transition: 0.2s ease-out;
  @include montserrat_regular_16_squashed;
  img {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    object-fit: cover;
}
}
@mixin btn_icon_24 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.2s ease-out;
  svg {
    width: 1.5rem;
    height: 1.5rem;
}
}

// На основе миксина добавляем цвета, стили кнопкам
.btn_solid_text_52{
  color: $White_100;
  background-color: $Black_96;
  &:hover{
    background-color: $Green_Light_100;
  }
  &:active{
    background-color: $Green_Dark_100;
  }
  @include btn_text_52;
}
.btn_opaque_text_52{
  color: $Black_100;
  background-color: $Black_02;
  &:hover{
    background-color: $Green_Light_100;
  }
  &:active{
    background-color: $Green_Dark_100;
  }
  @include btn_text_52;
}
.btn_solid_TextOrIcon_40{
  color: $White_100;
  background-color: $Black_100;
    svg{
    color: $White_100;
  }
  &:hover{
    background-color: $Green_Light_100;
  }
  &:active{
    background-color: $Green_Dark_100;
  }
  @include btn_IconOrText_40;
}
.btn_transparent_text_36{
  color: $Black_100;
  background-color: transparent;
  &:hover{
    color: $Green_Light_100;
    background-color: $Green_Light_08;
  }
  &:active{
    color: $Green_Dark_100;
    background-color: $Green_Dark_08;
  }
  @include btn_text_36;
}
.btn_transparent_text_36.active{
  color: $White_100;
  background-color: $Green_Light_100;
  @include btn_text_36;
}

.btn_transparent_iconText_36{
  color: $Black_100;
  background-color: transparent;
  &:hover{
    color: $Green_Light_100;
    background-color: $Green_Light_08;
  }
  &:active{
    color: $Green_Dark_100;
    background-color: $Green_Dark_08;
  }
  @include btn_textIcon_36;
}
.btn_transparent_iconText_36.active{
  color: $White_100;
  background-color: $Green_Light_100;
  @include btn_textIcon_36;
}
.btn_transparent_icon_24{
  color: $Black_100;
  background-color: transparent;
  &:hover{
    color: $Green_Light_100;
  }
  &:active{
    color: $Green_Dark_100;
  }
  @include btn_icon_24;
}

/* ----------- Ссылки ----------- */
a{
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* ----------- Инпуты ----------- */
//это служебный миксин, который задает форму всех полей
@mixin input_basic{
  box-sizing: border-box;
  padding: 0.75rem 0.75rem;
  border-radius: 0.75rem;
  background-color: $White_100;
  @include montserrat_regular_12;
  cursor: pointer;
  transition: 0.2s;
}

//инпут однострочное поле
.input{
  @include input_basic;
  height: 2.5rem;
  color: $Black_100;
  border: 1px solid $Black_08;
  ::placeholder{
    color: $Black_40;
  }
  &:hover{
    border: 1px solid $Green_Light_100;
  }
  &:active{
    border: 1px solid $Green_Light_100;
  }
  &:focus-visible{
    outline: none;
    border: 1px solid $Green_Light_100;
  }
  &:disabled{
    opacity: 0.32;
  }
}
.input.error{
  @include input_basic;
  color: $Black_100;
  border: 1px solid $Red_40;
  ::placeholder{
    color: $Red_80;
  }
  &:hover{
    border: 1px solid $Red_100;
  }
  &:active{
    border: 1px solid $Red_100;
  }
}

//селект
.select{
  @include input_basic;
  color: $Black_100;
  border: 1px solid $Black_08;
  &:hover{
    border: 1px solid $Green_Light_100;
  }
  &:active{
    border: 1px solid $Green_Light_100;
  }
  &:disabled{
    opacity: 0.32;
  }
}