@import 'design_system';

body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.plant-details-container {
    // max-width: 64.75rem;
    margin: 3rem 0;
}

.plant-image { 
    max-width: 27.5rem;
    overflow: hidden;
    max-height: 27.5rem;
    background-size: cover;
}
.plant-image-container {
    width: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
}

.plant-details-actions {
    display: flex;
    margin-top: 2rem;
    background-color: $Black_02;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 1.5rem;
    gap: 2rem;
}

.plant-text {
    margin: 2rem 0;
    display: flex;
    gap: 5rem;
    align-items: center;
}

.plant-grey {
    @include montserrat_regular_12;
    color: $Black_64;
    font-size: 0.9375rem;
}

.plant, .plant-details-description {
    @include montserrat_semi_16;
    color: $Black_100;
    font-size: 0.9375rem;
}

.plant {
    line-height: 1rem;
}

.plant-description {
    max-width: 31rem;
}

.plant-text-grey {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.plant-details-price {
    @include montserrat_semi_24;
    color: $Black_100;
}

.plant-details-description-text {
    @include montserrat_regular_12;
    color: $Black_100;
    line-height: 1.5rem;
}

.btn_solid_text_52 {
    width:21.25rem ;
    @include montserrat_semi_24;
}

.plant-title {
    margin: 0;
    @include page_title_32;
}

.card-box {
    display: flex;
    gap: 2rem;
}

.plant-bottom-box {
    background-color: $Black_02;
    height: 36.5rem;
}

.condition-flex-box {
    display: flex;
    gap: 2.5rem;
}

#plant-conditions {
    width: 73%;
    margin: 0.5rem 0 6rem 0;
}

.condition-title {
@include montserrat_semi_24;
color: $Black_100;
margin-top: 2.5rem;
margin-bottom: 1rem;
}

.plant-condition {
    @include montserrat_regular_16;
    color: $Black_100;
}

.info-plant-box {
    display: flex;
}

//форма отправки письма на почту

.title_email {
    @include montserrat_semi_16;
    color: $Black_100;
    margin-bottom: 0.25rem;
    }
    
    .text_email {
    @include montserrat_regular_16;
    color: $Black_64;
    margin-bottom: 0.75rem;
    }

    input:focus {
        outline: none;
        overflow: hidden;
    }

    input:invalid:active {
        border-color: $Red_100;
      }

    .input_email {
    box-sizing: border-box;
    align-items: center;
    padding: 0.75rem;
    height: 2.5rem;
    background: $White_100;
    border: 0.0625rem solid #F2F2F3;
    border-radius: 0.75rem;
    width: 15.5rem;
    &:hover {
        border-color: $Green_Light_100;
    }
    &:active {
        border-color: $Green_Light_100; 
    }
    }

    .email_form-box {
      margin: 3rem 0;
      width: 24%;
      align-items: center;
    }

    #email_form {
        display: flex;
        text-align: center;
    }
    
    #submit_form {
    margin-left: 0.5rem;
    width: 4rem;
    height: 2.5rem;
    background: $Black_100;
    border-radius: 2.5rem;
    padding: 0.5rem 1.25rem;
    &:hover {
        background: $Green_Light_100;
    }
    }

    .tx_1{
      display: flex;
      justify-content: space-between;
    }
    .tx_num_1{
      font-weight: 800;
      @include montserrat_semi_16;
    }
    .nt_1{
    font-size: 20px;
    margin: 0;
    }
    .section_right{
      width: 15%;
    }
    .row{
      width: 85%;
    }
    .container-horizontal {
      display: flex;
      align-items: stretch; 
      flex-direction: row-reverse;
    }
    .section_text{
      @include montserrat_regular_16;
      color: $Black_64;
      font-size: 0.8rem;
    }

    .quantity-controls {
        display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    margin-top: 0.5rem;
    }
    .btn-pressed {
        background-color: transparent;
        width: 1rem;
    }

    .item-quantity {
        border: $Black_08;
    }