@charset "UTF-8";
:root {
  /* ----------- Константы ----------- */
  font-size: 16px;
}

/* ----------- Цвета ----------- */
/* ----------- Паддинги страничные ----------- */
/* ----------- Привязанные шрифты ----------- */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Belleza";
  src: url("../fonts/Belleza-Regular.eot");
  src: local("Belleza Regular"), local("Belleza-Regular"), url("../fonts/Belleza-Regular.woff2") format("woff2"), url("../fonts/Belleza-Regular.woff") format("woff"), url("../fonts/Belleza-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* ----------- Стили текста ----------- */
/* ----------- Ограничения ширин, шаблоны для @media ----------- */
.page_block_wrapper {
  max-width: 90rem;
  padding: 0 3rem;
  margin: 0 auto;
}
@media (max-width: 1280px) {
  .page_block_wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 1024px) {
  .page_block_wrapper {
    padding: 0 1.5rem;
    margin: 0;
  }
}
@media (max-width: 640px) {
  .page_block_wrapper {
    padding: 0 1rem;
  }
}

/* ----------- Кнопки ----------- */
.btn_solid_text_52 {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.96);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  transition: 0.2s ease-out;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}
.btn_solid_text_52:hover {
  background-color: rgb(155, 185, 108);
  border-style: none;
}
.btn_solid_text_52:active {
  background-color: rgb(103, 126, 81);
}

.btn_opaque_text_52 {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.02);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 1rem 3rem;
  border-radius: 2.5rem;
  transition: 0.2s ease-out;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}
.btn_opaque_text_52:hover {
  background-color: rgb(155, 185, 108);
}
.btn_opaque_text_52:active {
  background-color: rgb(103, 126, 81);
}

.btn_solid_TextOrIcon_40 {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.25rem;
  padding: 0.5rem 1.25rem;
  border-radius: 2.5rem;
  transition: 0.2s ease-out;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
}
.btn_solid_TextOrIcon_40 svg {
  color: rgb(255, 255, 255);
}
.btn_solid_TextOrIcon_40:hover {
  background-color: rgb(155, 185, 108);
}
.btn_solid_TextOrIcon_40:active {
  background-color: rgb(103, 126, 81);
}
.btn_solid_TextOrIcon_40 svg {
  width: 1.5rem;
  height: 1.5rem;
}

.btn_transparent_text_36 {
  color: rgb(0, 0, 0);
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  transition: 0.2s ease-out;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}
.btn_transparent_text_36:hover {
  color: rgb(155, 185, 108);
  background-color: rgba(155, 185, 108, 0.08);
}
.btn_transparent_text_36:active {
  color: rgb(103, 126, 81);
  background-color: rgba(103, 126, 81, 0.08);
}

.btn_transparent_text_36.active {
  color: rgb(255, 255, 255);
  background-color: rgb(155, 185, 108);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.25rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  transition: 0.2s ease-out;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}

.btn_transparent_iconText_36 {
  color: rgb(0, 0, 0);
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 2.25rem;
  padding: 0.125rem 1rem 0.125rem 0.125rem;
  border-radius: 1.5rem;
  transition: 0.2s ease-out;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}
.btn_transparent_iconText_36:hover {
  color: rgb(155, 185, 108);
  background-color: rgba(155, 185, 108, 0.08);
}
.btn_transparent_iconText_36:active {
  color: rgb(103, 126, 81);
  background-color: rgba(103, 126, 81, 0.08);
}
.btn_transparent_iconText_36 img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn_transparent_iconText_36.active {
  color: rgb(255, 255, 255);
  background-color: rgb(155, 185, 108);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 2.25rem;
  padding: 0.125rem 1rem 0.125rem 0.125rem;
  border-radius: 1.5rem;
  transition: 0.2s ease-out;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
}
.btn_transparent_iconText_36.active img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn_transparent_icon_24 {
  color: rgb(0, 0, 0);
  background-color: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.2s ease-out;
}
.btn_transparent_icon_24:hover {
  color: rgb(155, 185, 108);
}
.btn_transparent_icon_24:active {
  color: rgb(103, 126, 81);
}
.btn_transparent_icon_24 svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* ----------- Ссылки ----------- */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* ----------- Инпуты ----------- */
.input {
  box-sizing: border-box;
  padding: 0.75rem 0.75rem;
  border-radius: 0.75rem;
  background-color: rgb(255, 255, 255);
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  cursor: pointer;
  transition: 0.2s;
  height: 2.5rem;
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.input ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.input ::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
.input:hover {
  border: 1px solid rgb(155, 185, 108);
}
.input:active {
  border: 1px solid rgb(155, 185, 108);
}
.input:focus-visible {
  outline: none;
  border: 1px solid rgb(155, 185, 108);
}
.input:disabled {
  opacity: 0.32;
}

.input.error {
  box-sizing: border-box;
  padding: 0.75rem 0.75rem;
  border-radius: 0.75rem;
  background-color: rgb(255, 255, 255);
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  cursor: pointer;
  transition: 0.2s;
  color: rgb(0, 0, 0);
  border: 1px solid rgba(250, 108, 89, 0.4);
}
.input.error ::-moz-placeholder {
  color: rgba(250, 108, 89, 0.8);
}
.input.error ::placeholder {
  color: rgba(250, 108, 89, 0.8);
}
.input.error:hover {
  border: 1px solid rgb(250, 108, 89);
}
.input.error:active {
  border: 1px solid rgb(250, 108, 89);
}

.select {
  box-sizing: border-box;
  padding: 0.75rem 0.75rem;
  border-radius: 0.75rem;
  background-color: rgb(255, 255, 255);
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  cursor: pointer;
  transition: 0.2s;
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.08);
}
.select:hover {
  border: 1px solid rgb(155, 185, 108);
}
.select:active {
  border: 1px solid rgb(155, 185, 108);
}
.select:disabled {
  opacity: 0.32;
}

body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.plant-details-container {
  max-width: 64.75rem;
  margin: 3rem 0;
}

.plant-image-container {
  width: 100%;
  float: left;
  overflow: hidden;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}

.plant-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease;
}

.plant-image-container:hover img {
  transform: scale(1.05);
}

.plant-details-actions {
  display: flex;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.02);
  align-items: center;
  padding: 1rem;
  justify-content: space-between;
  border-radius: 1.5rem;
}

.plant-text {
  margin: 2rem 0;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.plant-grey {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 0.64);
}
.plant-grey:first-of-type {
  margin-bottom: 0.75rem;
}

.plant, .plant-details-description {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(0, 0, 0);
}

.plant-text-grey {
  display: flex;
  flex-direction: column;
}

.plant-details-price {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(0, 0, 0);
}

.plant-details-description-text {
  margin-top: 1rem;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(0, 0, 0);
}

.btn_solid_text_52 {
  width: 21.25rem;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
}

.plant-title {
  margin: 0;
  /* служебный миксин, его использовать не надо */
  font-family: "Belleza", sans-serif;
  font-weight: 400;
  letter-spacing: -0.5px;
  font-size: 2rem;
  line-height: 2.5rem;
}

.card-box {
  display: flex;
}

.plant-image-container {
  margin-right: 2rem;
  width: 27.5rem;
}

.plant-bottom-box {
  background-color: rgba(0, 0, 0, 0.02);
  height: 36.5rem;
}

.condition-flex-box {
  display: flex;
  gap: 2.5rem;
}

#plant-conditions {
  width: 73%;
  margin: 0.5rem 0 6rem 0;
}

.condition-title {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  color: rgb(0, 0, 0);
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

.plant-condition {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(0, 0, 0);
}

.info-plant-box {
  display: flex;
}

.title_email {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgb(0, 0, 0);
  margin-bottom: 0.25rem;
}

.text_email {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.64);
  margin-bottom: 0.75rem;
}

.input_email {
  box-sizing: border-box;
  align-items: center;
  padding: 0.75rem;
  height: 2.5rem;
  background: rgb(255, 255, 255);
  border: 0.0625rem solid #F2F2F3;
  border-radius: 0.75rem;
  width: 15.5rem;
}
.input_email:hover {
  border-color: rgb(155, 185, 108);
}
.input_email:active {
  border-color: rgb(155, 185, 108);
  background-color: transparent;
}

input[type=email] :focus {
  border: none;
  background-color: none;
}

.email_form-box {
  margin: 3rem 0;
  width: 24%;
  align-items: center;
}

#email_form {
  display: flex;
  text-align: center;
}

#submit_form {
  margin-left: 0.5rem;
  width: 4rem;
  height: 2.5rem;
  background: rgb(0, 0, 0);
  border-radius: 2.5rem;
  padding: 0.5rem 1.25rem;
}
#submit_form:hover {
  background: rgb(155, 185, 108);
}

.tx_1 {
  display: flex;
  justify-content: space-between;
}

.tx_num_1 {
  font-weight: 800;
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
}

.nt_1 {
  font-size: 20px;
  margin: 0;
}

.section_right {
  width: 15%;
}

.row {
  width: 85%;
}

.container-horizontal {
  display: flex;
  align-items: stretch;
  flex-direction: row-reverse;
}

.section_text {
  /* служебный миксин, его использовать не надо */
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.64);
  font-size: 0.8rem;
}/*# sourceMappingURL=details.css.map */