@import 'design_system';

body {
    height: 100%;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.plant-details-container {
    max-width: 64.75rem;
    margin: 3rem 0;
}

.plant-image-container {
    width: 100%;
    float: left;
    overflow: hidden;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

.plant-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.plant-image-container:hover img {
    transform: scale(1.05);
}

.plant-details-actions {
    display: flex;
    margin-top: 2rem;
    background-color: $Black_02;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 1.5rem;
}

.plant-text {
    margin: 2rem 0;
    display: flex;
    gap: 3rem;
    align-items: center;
}

.plant-grey {
    @include montserrat_regular_12;
    color: $Black_64;
        &:first-of-type {
        margin-bottom: 0.75rem;
}
}

.plant, .plant-details-description {
    @include montserrat_semi_16;
    color: $Black_100;
}
.plant-text-grey {
    display: flex;
    flex-direction: column;
}

.plant-details-price {
    @include montserrat_semi_24;
    color: $Black_100;
}

.plant-details-description-text {
    margin-top: 1rem;
    @include montserrat_regular_12;
    color: $Black_100;
}

.btn_solid_text_52 {
    width:21.25rem ;
    @include montserrat_semi_24;
}

.plant-title {
    margin: 0;
    @include page_title_32;
}

.card-box {
    display: flex;
}
.plant-image-container {
    margin-right: 2rem;
    width: 27.5rem;
}

.plant-bottom-box {
    background-color: $Black_02;
    height: 36.5rem;
}

.condition-flex-box {
    display: flex;
}

.condition-box {
    width: calc(75% - 2.5rem);
    margin: 0.5rem 0 6rem 0;
}

.condition-title {
@include montserrat_semi_24;
color: $Black_100;
margin-top: 2.5rem;
margin-bottom: 1rem;
}

.plant-condition {
    @include montserrat_regular_16;
    color: $Black_100;
}