@import 'design_system';

.footer {
  background-color: $Black_08;
  max-width: 100%;
  margin: 0 auto;
  // position: absolute;
  // height: 7.5rem;
  // overflow-y: hidden;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 7.5rem;
    // padding: 3.125rem 0;
  }

  &__logo-box {
    margin-bottom: 0.5rem;
    // @media (max-width: 1024px) {
    //   margin-bottom: 0.5rem;
    // }
    @media (max-width: 535px) {
      margin-bottom: 2.8rem;
    }
  }

  &__logo {
    max-width: 7.5rem;
    max-height: 2rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    // margin: 0;
    // padding: 0;

    @media (max-width: 1024px) {
      // gap: 1rem;
    }

    @media (max-width: 641px) {
      gap: 2rem;
    }

    @media (max-width: 535px) {
      margin-bottom: 3rem;
      flex-direction: column;
      align-items: center;
      margin-right: 0;
      gap: 1rem;
    }
  }

  &__link {
    @include montserrat_regular_16;
    color: $Black_100;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    &__flex {
      height: 5.5rem;
    }
  }

  @media (max-width: 535px) {
    &__flex {
      height: 20.75rem;
      display: block;
      padding: 2rem 0;
    }
  }
}

// Вне .footer — т.к. служебные и переиспользуемые классы

.social-icons {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 28px;
  // margin: 0;
  // padding: 0;
  // transform: scale3d(1.5, 1.5, 1.5);

  @media (max-width: 768px) {
    gap: 1rem;
  }

  @media (max-width: 535px) {
    justify-content: center;
  }
}

.media-brands {
  color: $Black_96;
}

a:hover {
  color: $Green_Dark_100;
  text-decoration: none;
}
