@import 'design_system';
/* ----------- hero section ----------- */

.hero{
    width: 100%;
    height: fit-content;
}

.hero_wrapper{
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.hero_slogan{
    @include page_title_80;
    color: $Black_100;
}

.hero_button{
    width: 11rem;
}